h1 {
    background-color: black;
    color: white;
    padding: .8rem;
}

a {
    color: #339;
}

input {
    height: 1.2rem;
    width: 25rem;
    margin-bottom: .5rem;
}

textarea {
    height: 3rem;
    width: 25rem;
}

button,
input[type=submit] {
    height: 1.4rem;
    width: 10rem;
    margin-bottom: .5rem;
}